/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
nbproject/
.idea/workspace.xml
.idea/Competicao.iml
.idea/workspace.xml
.idea/copyright/
.idea/blade.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/tests/
.idea/*
